@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap");
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #ffb500;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #ffec98;
  --bs-dark: #0f0f00;
  --bs-primary-rgb: 255, 181, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 0, 255, 221;
  --bs-dark-rgb: 10, 5, 0;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #372d0a;
  --bs-body-bg: #fff;
}

.bg-dark {
  --bs-bg-opacity: 0.666;
  background-color: rgba(0, 0, 0, 0.666) !important;
  border: 1px solid rgba(0, 255, 149, 0.333);
  box-shadow: 0 0 2px #00ff89;
}

.text-light {
  text-shadow: 0 0 2px #abfff1;
}

.star-data-row {
  border: 1px solid rgba(0, 255, 149, 0.3);
  text-shadow: 0 0 2px #00ffdd;
  box-shadow: 0 0 2px #00ff89;
  color: #00ffdd;
  background-color: rgba(0, 0, 0, 0.666);
}

.bg-transparent {
  --bs-bg-opacity: 0;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

html,
body {
  height: 100%;
  background-color: #000000;
  background-image: url("../assets/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #00ffdd;
  font-family: "Oxanium", cursive;
}
html.streamer-mode,
body.streamer-mode {
  background-color: #00ff00;
  background-image: none;
}

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}
.planet-total {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: #00ffdd;
  font-weight: 100;
  text-shadow: 0 0 2px #00ffdd;
  min-height: 175px;
}
.planet-total .total {
  transition: --num 5s;
  counter-set: num var(--num);
  color: #00ffdd;
  font-weight: 600;
  text-shadow: 0 0 2px #00ffdd;
}
.planet-total .total::after {
  content: counter(num);
}
.planet-total.earth {
  background-image: url("../assets/earth.png");
}
.planet-total.ammonia {
  background-image: url("../assets/ammonia.png");
}
.planet-total.water {
  background-image: url("../assets/water.png");
}

.sortable {
  cursor: pointer;
}

.card-header {
  font-weight: 900;
}

/*# sourceMappingURL=styles.css.map */
